### Telecom Churn Case Study

In [1]:
# Suppressing Warnings
import warnings
warnings.filterwarnings('ignore')

In [2]:
# Impoarting libraries
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt 
import seaborn as sns 
%matplotlib inline

In [3]:
churn_data=pd.read_csv("C:\\Users\\moham\\Downloads\\inputs\\churn_data.csv")
internet_data=pd.read_csv("C:\\Users\\moham\\Downloads\\inputs\\internet_data.csv")
customer_data=pd.read_csv("C:\\Users\\moham\\Downloads\\inputs\\customer_data.csv")

In [4]:
churn_data.head()

,customerID,tenure,PhoneService,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,1,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,34,Yes,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,2,Yes,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,45,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,2,Yes,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

In [5]:
internet_data.head()

,customerID,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies
0,7590-VHVEG,No phone service,DSL,No,Yes,No,No,No,No
1,5575-GNVDE,No,DSL,Yes,No,Yes,No,No,No
2,3668-QPYBK,No,DSL,Yes,Yes,No,No,No,No
3,7795-CFOCW,No phone service,DSL,Yes,No,Yes,Yes,No,No
4,9237-HQITU,No,Fiber optic,No,No,No,No,No,No

In [6]:
customer_data.head()

   customerID  gender  SeniorCitizen Partner Dependents
0  7590-VHVEG  Female              0     Yes         No
1  5575-GNVDE    Male              0      No         No
2  3668-QPYBK    Male              0      No         No
3  7795-CFOCW    Male              0      No         No
4  9237-HQITU  Female              0      No         No

In [7]:
#consolidating all the data into one 
inp=pd.merge(left=churn_data,right=internet_data,how="inner",on="customerID")

In [8]:
df=pd.merge(left=inp,right=customer_data,how="inner",on="customerID")

In [9]:
#Inspecting the dataframe
df.head()

,customerID,tenure,PhoneService,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn,MultipleLines,...,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,gender,SeniorCitizen,Partner,Dependents
0,7590-VHVEG,1,No,Month-to-month,Yes,Electronic check,29.85,29.85,No,No phone service,...,No,Yes,No,No,No,No,Female,0,Yes,No
1,5575-GNVDE,34,Yes,One year,No,Mailed check,56.95,1889.5,No,No,...,Yes,No,Yes,No,No,No,Male,0,No,No
2,3668-QPYBK,2,Yes,Month-to-month,Yes,Mailed check,53.85,108.15,Yes,No,...,Yes,Yes,No,No,No,No,Male,0,No,No
3,7795-CFOCW,45,No,One year,No,Bank transfer (automatic),42.30,1840.75,No,No phone service,...,Yes,No,Yes,Yes,No,No,Male,0,No,No
4,9237-HQITU,2,Yes,Month-to-month,Yes,Electronic check,70.70,151.65,Yes,No,...,No,No,No,No,No,No,Female,0,No,No

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7043 entries, 0 to 7042
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7043 non-null   object
 1   tenure            7043 non-null   int64
 2   PhoneService      7043 non-null   object
 3   Contract          7043 non-null   object
 4   PaperlessBilling  7043 non-null   object
 5   PaymentMethod     7043 non-null   object
 6   MonthlyCharges    7043 non-null   float64
 7   TotalCharges      7043 non-null   object
 8   Churn             7043 non-null   object
 9   MultipleLines     7043 non-null   object
 10  InternetService   7043 non-null   object
 11  OnlineSecurity    7043 non-null   object
 12  OnlineBackup      7043 non-null   object
 13  DeviceProtection  7043 non-null   object
 14  TechSupport       7043 non-null   object
 15  StreamingTV       7043 non-null   object
 16  StreamingMovies   7043 non-null   object
 17  gender            7043 non-null   object
 18  SeniorCitizen     7043 non-null   int64
 19  Partner           7043 non-null   object
 20  Dependents        7043 non-null   object
dtypes: float64(1), int64(2), object(18)
memory usage: 1.2+ MB

In [30]:
df.Dependents.value_counts()

No     4933
Yes    2110
Name: Dependents, dtype: int64

#### Data Preparation

In [31]:
#converting some binary variables Yes/No - 1/0
def binary(x):
    return x.map({"Yes":1,"No":0})

In [32]:
df[['PhoneService', 'PaperlessBilling', 'Churn', 'Partner', 'Dependents']]=df[['PhoneService', 'PaperlessBilling', 'Churn', 'Partner', 'Dependents']].apply(binary)

In [35]:
df.describe()

,tenure,PhoneService,PaperlessBilling,MonthlyCharges,Churn,SeniorCitizen,Partner,Dependents
count,7043.000000,7043.000000,7043.000000,7043.000000,7043.000000,7043.000000,7043.000000,7043.000000
mean,32.371149,0.903166,0.592219,64.761692,0.265370,0.162147,0.483033,0.299588
std,24.559481,0.295752,0.491457,30.090047,0.441561,0.368612,0.499748,0.458110
min,0.000000,0.000000,0.000000,18.250000,0.000000,0.000000,0.000000,0.000000
25%,9.000000,1.000000,0.000000,35.500000,0.000000,0.000000,0.000000,0.000000
50%,29.000000,1.000000,1.000000,70.350000,0.000000,0.000000,0.000000,0.000000
75%,55.000000,1.000000,1.000000,89.850000,1.000000,0.000000,1.000000,1.000000
max,72.000000,1.000000,1.000000,118.750000,1.000000,1.000000,1.000000,1.000000

In [39]:
# Creating a dummy variable for some of the categorical variables and dropping the first one.
dummy1 = pd.get_dummies(df[['Contract', 'PaymentMethod', 'gender', 'InternetService']], drop_first=True)

In [41]:
df=pd.concat([df,dummy1],axis=1)

In [42]:
df

,customerID,tenure,PhoneService,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn,MultipleLines,...,Partner,Dependents,Contract_One year,Contract_Two year,PaymentMethod_Credit card (automatic),PaymentMethod_Electronic check,PaymentMethod_Mailed check,gender_Male,InternetService_Fiber optic,InternetService_No
0,7590-VHVEG,1,0,Month-to-month,1,Electronic check,29.85,29.85,0,No phone service,...,1,0,0,0,0,1,0,0,0,0
1,5575-GNVDE,34,1,One year,0,Mailed check,56.95,1889.5,0,No,...,0,0,1,0,0,0,1,1,0,0
2,3668-QPYBK,2,1,Month-to-month,1,Mailed check,53.85,108.15,1,No,...,0,0,0,0,0,0,1,1,0,0
3,7795-CFOCW,45,0,One year,0,Bank transfer (automatic),42.30,1840.75,0,No phone service,...,0,0,1,0,0,0,0,1,0,0
4,9237-HQITU,2,1,Month-to-month,1,Electronic check,70.70,151.65,1,No,...,0,0,0,0,0,1,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,6840-RESVB,24,1,One year,1,Mailed check,84.80,1990.5,0,Yes,...,1,1,1,0,0,0,1,1,0,0
7039,2234-XADUH,72,1,One year,1,Credit card (automatic),103.20,7362.9,0,Yes,...,1,1,1,0,1,0,0,0,1,0
7040,4801-JZAZL,11,0,Month-to-month,1,Electronic check,29.60,346.45,0,No phone service,...,1,1,0,0,0,1,0,0,0,0
7041,8361-LTMKD,4,1,Month-to-month,1,Mailed check,74.40,306.6,1,Yes,...,1,0,0,0,0,0,1,1,1,0
7042,3186-AJIEK,66,1,Two year,1,Bank transfer (automatic),105.65,6844.5,0,No,...,0,0,0,1,0,0,0,1,1,0

In [43]:
# Creating dummy variables for the remaining categorical variables and dropping the level with big names.

# Creating dummy variables for the variable 'MultipleLines'
ml = pd.get_dummies(df['MultipleLines'], prefix='MultipleLines')
# Dropping MultipleLines_No phone service column
ml1 = ml.drop(['MultipleLines_No phone service'], 1)
#Adding the results to the master dataframe
df = pd.concat([df,ml1], axis=1)

# Creating dummy variables for the variable 'OnlineSecurity'.
os = pd.get_dummies(df['OnlineSecurity'], prefix='OnlineSecurity')
os1 = os.drop(['OnlineSecurity_No internet service'], 1)
# Adding the results to the master dataframe
df = pd.concat([df,os1], axis=1)

# Creating dummy variables for the variable 'OnlineBackup'.
ob = pd.get_dummies(df['OnlineBackup'], prefix='OnlineBackup')
ob1 = ob.drop(['OnlineBackup_No internet service'], 1)
# Adding the results to the master dataframe
df = pd.concat([df,ob1], axis=1)

# Creating dummy variables for the variable 'DeviceProtection'. 
dp = pd.get_dummies(df['DeviceProtection'], prefix='DeviceProtection')
dp1 = dp.drop(['DeviceProtection_No internet service'], 1)
# Adding the results to the master dataframe
df = pd.concat([df,dp1], axis=1)

# Creating dummy variables for the variable 'TechSupport'. 
ts = pd.get_dummies(df['TechSupport'], prefix='TechSupport')
ts1 = ts.drop(['TechSupport_No internet service'], 1)
# Adding the results to the master dataframe
df = pd.concat([df,ts1], axis=1)

# Creating dummy variables for the variable 'StreamingTV'.
st =pd.get_dummies(df['StreamingTV'], prefix='StreamingTV')
st1 = st.drop(['StreamingTV_No internet service'], 1)
# Adding the results to the master dataframe
df = pd.concat([df,st1], axis=1)

# Creating dummy variables for the variable 'StreamingMovies'. 
sm = pd.get_dummies(df['StreamingMovies'], prefix='StreamingMovies')
sm1 = sm.drop(['StreamingMovies_No internet service'], 1)
# Adding the results to the master dataframe
df = pd.concat([df,sm1], axis=1)

In [45]:
# We have created dummies for the below variables, so we can drop them
df = df.drop(['Contract','PaymentMethod','gender','MultipleLines','InternetService', 'OnlineSecurity', 'OnlineBackup', 'DeviceProtection',
       'TechSupport', 'StreamingTV', 'StreamingMovies'], 1)

In [46]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7043 entries, 0 to 7042
Data columns (total 32 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   customerID                             7043 non-null   object
 1   tenure                                 7043 non-null   int64
 2   PhoneService                           7043 non-null   int64
 3   PaperlessBilling                       7043 non-null   int64
 4   MonthlyCharges                         7043 non-null   float64
 5   TotalCharges                           7043 non-null   object
 6   Churn                                  7043 non-null   int64
 7   SeniorCitizen                          7043 non-null   int64
 8   Partner                                7043 non-null   int64
 9   Dependents                             7043 non-null   int64
 10  Contract_One year                      7043 non-null   uint8
 11  Contract_Two year                      7043 non-null   uint8
 12  PaymentMethod_Credit card (automatic)  7043 non-null   uint8
 13  PaymentMethod_Electronic check         7043 non-null   uint8
 14  PaymentMethod_Mailed check             7043 non-null   uint8
 15  gender_Male                            7043 non-null   uint8
 16  InternetService_Fiber optic            7043 non-null   uint8
 17  InternetService_No                     7043 non-null   uint8
 18  MultipleLines_No                       7043 non-null   uint8
 19  MultipleLines_Yes                      7043 non-null   uint8
 20  OnlineSecurity_No                      7043 non-null   uint8
 21  OnlineSecurity_Yes                     7043 non-null   uint8
 22  OnlineBackup_No                        7043 non-null   uint8
 23  OnlineBackup_Yes                       7043 non-null   uint8
 24  DeviceProtection_No                    7043 non-null   uint8
 25  DeviceProtection_Yes                   7043 non-null   uint8
 26  TechSupport_No                         7043 non-null   uint8
 27  TechSupport_Yes                        7043 non-null   uint8
 28  StreamingTV_No                         7043 non-null   uint8
 29  StreamingTV_Yes                        7043 non-null   uint8
 30  StreamingMovies_No                     7043 non-null   uint8
 31  StreamingMovies_Yes                    7043 non-null   uint8
dtypes: float64(1), int64(7), object(2), uint8(22)
memory usage: 756.6+ KB

In [55]:
df= df[~(df.TotalCharges== " ")]

In [56]:
df.TotalCharges = df.TotalCharges.astype("float64")

In [57]:
df.TotalCharges.describe()

count    7032.000000
mean     2283.300441
std      2266.771362
min        18.800000
25%       401.450000
50%      1397.475000
75%      3794.737500
max      8684.800000
Name: TotalCharges, dtype: float64

In [59]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7032 entries, 0 to 7042
Data columns (total 32 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   customerID                             7032 non-null   object
 1   tenure                                 7032 non-null   int64
 2   PhoneService                           7032 non-null   int64
 3   PaperlessBilling                       7032 non-null   int64
 4   MonthlyCharges                         7032 non-null   float64
 5   TotalCharges                           7032 non-null   float64
 6   Churn                                  7032 non-null   int64
 7   SeniorCitizen                          7032 non-null   int64
 8   Partner                                7032 non-null   int64
 9   Dependents                             7032 non-null   int64
 10  Contract_One year                      7032 non-null   uint8
 11  Contract_Two year                      7032 non-null   uint8
 12  PaymentMethod_Credit card (automatic)  7032 non-null   uint8
 13  PaymentMethod_Electronic check         7032 non-null   uint8
 14  PaymentMethod_Mailed check             7032 non-null   uint8
 15  gender_Male                            7032 non-null   uint8
 16  InternetService_Fiber optic            7032 non-null   uint8
 17  InternetService_No                     7032 non-null   uint8
 18  MultipleLines_No                       7032 non-null   uint8
 19  MultipleLines_Yes                      7032 non-null   uint8
 20  OnlineSecurity_No                      7032 non-null   uint8
 21  OnlineSecurity_Yes                     7032 non-null   uint8
 22  OnlineBackup_No                        7032 non-null   uint8
 23  OnlineBackup_Yes                       7032 non-null   uint8
 24  DeviceProtection_No                    7032 non-null   uint8
 25  DeviceProtection_Yes                   7032 non-null   uint8
 26  TechSupport_No                         7032 non-null   uint8
 27  TechSupport_Yes                        7032 non-null   uint8
 28  StreamingTV_No                         7032 non-null   uint8
 29  StreamingTV_Yes                        7032 non-null   uint8
 30  StreamingMovies_No                     7032 non-null   uint8
 31  StreamingMovies_Yes                    7032 non-null   uint8
dtypes: float64(2), int64(7), object(1), uint8(22)
memory usage: 755.4+ KB

In [60]:
# Checking for outliers in the continuous variables
num_df = df[['tenure','MonthlyCharges','TotalCharges']]

In [61]:
# Checking outliers at 25%, 50%, 75%, 90%, 95% and 99%
num_df.describe(percentiles=[.25, .5, .75, .90, .95, .99])

            tenure  MonthlyCharges  TotalCharges
count  7032.000000     7032.000000   7032.000000
mean     32.421786       64.798208   2283.300441
std      24.545260       30.085974   2266.771362
min       1.000000       18.250000     18.800000
25%       9.000000       35.587500    401.450000
50%      29.000000       70.350000   1397.475000
75%      55.000000       89.862500   3794.737500
90%      69.000000      102.645000   5976.640000
95%      72.000000      107.422500   6923.590000
99%      72.000000      114.734500   8039.883000
max      72.000000      118.750000   8684.800000

No outliers in our data as the numbers are gradually increasing.

In [62]:
# Adding up the missing values (column-wise)
df.isnull().sum()

customerID                               0
tenure                                   0
PhoneService                             0
PaperlessBilling                         0
MonthlyCharges                           0
TotalCharges                             0
Churn                                    0
SeniorCitizen                            0
Partner                                  0
Dependents                               0
Contract_One year                        0
Contract_Two year                        0
PaymentMethod_Credit card (automatic)    0
PaymentMethod_Electronic check           0
PaymentMethod_Mailed check               0
gender_Male                              0
InternetService_Fiber optic              0
InternetService_No                       0
MultipleLines_No                         0
MultipleLines_Yes                        0
OnlineSecurity_No                        0
OnlineSecurity_Yes                       0
OnlineBackup_No                          0
OnlineBackup_Yes                         0
DeviceProtection_No                      0
DeviceProtection_Yes                     0
TechSupport_No                           0
TechSupport_Yes                          0
StreamingTV_No                           0
StreamingTV_Yes                          0
StreamingMovies_No                       0
StreamingMovies_Yes                      0
dtype: int64